/* font-family: 'Roboto', sans-serif; */
body {
    background: #EEF9BF;
}
.titulo {
    margin 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}
.conteudo {
    margin 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cartas {
    margin: 17px;
}